# The settings provided below are ideal for a 4GB-8GB RAM server.
# You can adjust values accordingly for higher or lower spec systems, but generally,
# it's an almost "one size, fits all" setup.
# Use DB diagnostics tools like: 
# https://launchpad.net/mysql-tuning-primer or http://blog.mysqltuner.com/download/
# to get more insight on your MySQL DB's resource usage and more...
# Special thanks to Yves Trudeau (Percona) for his valuable help on compiling this setup.

[mysqld]

# START
query_cache_limit=2M
query_cache_size=32M # Use 64M, 128M etc. (for bigger implementations)
query_cache_type=1

# DB Connections
# Increasing the connections does not guarantee better performance, but it DOES guarantee additional memory usage. Use with caution.
max_connections=100
max_user_connections=80

wait_timeout=300 # Time in seconds to keep active connections. The default is 28800 which hogs the connection limits on high traffic sites. 300 is a reasonable value especially on split web/db server setups.

# Key buffers: Sufficient at 64M for most cases,
# increase if mysql-tuning-primer tells you to
key_buffer=64M
key_buffer_size=64M

join_buffer_size=1M
sort_buffer_size=1M
read_buffer_size=1M
read_rnd_buffer_size=1M

max_heap_table_size=256M
tmp_table_size=256M

table_cache=1000 # Default is 64, but it's too low
table_definition_cache=1000 # Should be the same as table_cache
open_files_limit=3000 # Should be set to at least 2x-3x that of table_cache if you have heavy MyISAM usage (default is 4250, which is high enough)

# InnoDB tweaks (uncomment for use with InnoDB tables only)
#innodb_additional_mem_pool_size=20M
#innodb_buffer_pool_size=2G # For a dedicated server with 8GBs, also check if /proc/sys/vm/swappiness is set to 0
#innodb_flush_log_at_trx_commit=0
#innodb_flush_method=O_DIRECT
#innodb_log_file_size=128M
#innodb_log_buffer_size=8M

# The minimum length of words to be indexed - Commented by default
# Uncomment below to enable searching for three-character words
#ft_min_word_len=3

# Log slow queries - Commented by default
# On Ubuntu servers, do this:
# $ cd /var/log/mysql/; sudo touch slow.log; sudo chmod 0640 slow.log; sudo chown mysql:adm slow.log
# otherwise MySQL may not be able to load the slow.log file
slow_query_log
long_query_time=5
#log-slow-queries=/var/log/mysql/slow.log
#log-queries-not-using-indexes

# Advanced
low_priority_updates=1
concurrent_insert=2
thread_cache_size=80 # More here: http://hashmysql.org/index.php?title=Tuning_System_Variables
thread_concurrency=8 # set to 2X the number of processors in your machine for best performance

# END